<footer class="container-fluid bg-light pt-5 pb-3">
    <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">À propos</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p>Voici un exemple de texte pour représenter une section "À propos" dans le footer, décrivant brièvement le site ou l'entreprise.</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Produits</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><a href="#!" class="text-dark">Produit 1</a></p>
            <p><a href="#!" class="text-dark">Produit 2</a></p>
            <p><a href="#!" class="text-dark">Produit 3</a></p>
            <p><a href="#!" class="text-dark">Produit 4</a></p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><a href="#!" class="text-dark">Votre compte</a></p>
            <p><a href="#!" class="text-dark">Devenir affilié</a></p>
            <p><a href="#!" class="text-dark">Aide</a></p>
            <p><a href="#!" class="text-dark">FAQ</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-home mr-3"></i> Adresse fictive 123, 10000 Ville</p>
            <p><i class="fas fa-envelope mr-3"></i>semprini.anthony@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>+33 06 06 65 03 92</p>
        </div>
    </div>
</footer>
