{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
<div class="container">
    <h1>Programme</h1>
    {% for programme in session.programmes %}
        <p>{{programme.module.nom}}  {{ programme.nbJour }} jours</p>
    {% endfor %}
</div>

{% endblock %}