{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
<div class="container">
    <h1>Programme</h1>
    {% for programme in session.programmes %}
        <p>{{programme.module.nom}}  {{ programme.nbJour }} jours</p>
    {% endfor %}
    
    <h2>Stagiaire inscrit</h2>
    
    {% for stagiaire in session.stagiaires %}
    <p>{{ stagiaire }}</p>
    {% endfor %}
</div>
{% endblock %}