{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des modules</h1>
    <div class="text-center mt-4">
        <a href="{{ path('app_new_module') }}" class="btn btn-success mb-3">Ajouter un module</a>
    </div>
    <div class="row">
        {% for module in modules %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ module.nom }}</h5>
                    <p class="card-text">Description ou informations supplémentaires sur le module.</p>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
