{% extends 'base.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
<div class="container">
<h1>Liste modules</h1>
{% for module in modules %}
    <p>{{ module }}</p>
{% endfor %}
<a href="{{path('app_new_module')}}" class="btn btn-success mb-3">Ajouter module</a>
</div>
{% endblock %}
