{% extends 'base.html.twig' %}


    
{% block title %}Module de la categorie{% endblock %}


{% block body %}
<div class="container">
<h1>Modules </h1>
{% for module in categorie.modules %}
    <p>{{ module }}</p>
{% endfor %}
</div>
{% endblock %}
