{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container">
    <h1>Categories</h1>
    <table class="table table-bordered">
        {% for categorie in categories %}
        <th>
            <td>{{ categorie.nom}}</td>
        </th>
        {% endfor %}
        {% for module in modules %}
        <tr>
            <td>{{ module.nom }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
            







{% endblock %}
           
                   
               
            
