{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container">
    <h1>Categories</h1>
    <table class="table table-bordered table-striped">
        {% for categorie in categories %}
       
        <tr>
            <td><a href="{{ path('app_module',{'id': categorie.id})}}">{{ categorie.nom}}</a></td>
        </tr>

       
        {% endfor %}
       
    </table>
</div>
            







{% endblock %}
           
                   
               
            
